<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation')%>
    
    <main class="container vh-100 d-flex justify-content-center align-items-center ">
        <section>
            <h1 class="display-1 pt-2 d-flex justify-content-center ">
                About me 
            </h1>
            <p class="d-flex justify-content-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate velit illum natus dolores omnis. Ullam voluptate saepe ratione ipsam dolores accusantium tempore, corporis praesentium odit!</p>
        </section>
    </main>

    <%- include('partials/footer')%>

</body>
</html>